			<h2 class="title"><%= data[l].title %></h2>
			<% for(var c = 0; c < data[l].content.length; c++) { 
				var out = "", type = "" %>
				<div class="item">
					<%
					switch(data[l].content[c].type) {
						case "text":
						out = `<span name='${data[l].content[c].name}'>${data[l].content[c].data}</span>`
						type = "span"
						break;

					case "image":
						out = data[l].content[c].data
						type = "img"
						break;
					case "markdown":
						out = `<span>${data[l].content[c].data}</span>`
						break;
					case "html":
						out = `<span>${data[l].content[c].data}</span>`
						break;
					}
					%>

					<%- out %>
				</div>
			<% } %>