<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= pageData.title %></title>

	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>
<body>

<!-- non-editable zone -->
<div class="flex-wrapper">
<header id="manage-header" class="top">
	<span>
		<a href="/manage/addpage">Pages</a>
	</span>
	<span>
		<a href="/manage/themes">Themes</a>
	</span>
	<span>
		<a href="/manage/edit">Edit</a>
	</span>
	<span>
		<a href="/manage/settings">Settings</a>
	</span>
</header>

<div id="preview">
<iframe src="http://localhost:6060/bbb" title="iframe example 1">
  <p>Your browser does not support iframes.</p>
</iframe>
</div>

<%-
	include('templates/footer.ejs')
%>
</div>

<script src="franklin-lib.js"></script>


</body>