<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= pageData.title %></title>

	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>
<body>

<!-- non-editable zone -->
<header id="manage-header">
	<span>
		<a href="/manage/addpage">Pages</a>
	</span>
	<span>
		<a href="/manage/themes">Themes</a>
	</span>
	<span>
		<a href="/manage/edit">Edit</a>
	</span>
	<span>
		<a href="/manage/settings">Settings</a>
	</span>
</header>





<%-
	include('templates/footer.ejs')
%>


<script src="franklin-lib.js"></script>


</body>