<!-- selector! -->
<div id="sectionTools">
	<div class="message">Add a paragraph</div>
	<form class="itemAdder">
		<span><div contenteditable="true" name="itemText" placeholder="item text"></div></span>
		<span><input type="file" accept="image/*" name="imageSrc" placeholder="file"></span>
		<span><select required>
			<option value="text">Rich Text</option>
			<option value="image" selected>Image</option>
			<option value="markdown">Markdown</option>
			<option value="html">HTML</option>
		</select></span>
		<span><button type="submit" class="newBtn">new item</button></span>
	</form>
</div>