<div id="newSectionTools">
	<div class="message">Add a section</div>
	<span><input type="text" name="zoneName" placeholder="new page name"></span>
	<span><button type="submit" id="submitButton">Add Section</button></span>
</div>