html {
	font-family: 'Work Sans', sans-serif;
	line-height: 2;
	font-size: 14px;

}
body {
	padding: 5px;
}

div {
    margin: 20px 0;
}

textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
}
