<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HTML standard meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page title -->
    <title><%= title %></title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.min.css">
  </head>
  <body>
    <!-- The page header -->
    <header>
      <nav>
        <label>Homepage</label>
        <ul>
          <!-- Navigation elements -->
          <li><a href="#">Home</a></li>
        </ul>
      </nav>
    </header>

    <!-- The place for the content -->
    <main>
      <%- body %>
    </main>

    <!-- Page footer -->
    <footer>
      <!-- Footer column -->
      <div>
        <b>Contact</b>
        <ul>
          <li><a href="#">info@nomail.com</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
